body{
    background: #E5E5E5;
}
main{
    display: flex;
    height: 100%;
    width: 100%;
}

.contenedor1{
    width: 70%;
    font-family: 'Inter', sans-serif;
}
.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    margin: 40px;
}

.textin{
    background: #e5e5e5;
    border: none;
    width: 30rem;
    max-height: 3rem;
    font-size: 30px;
    resize: none;  
}

.textin::placeholder{
    color: #0A3871;
    font-weight: 400px;
    display: inline-block;
}
.advertencia{
    display: flex;
    margin-top: 15rem;
}
.advertencia__imagen{
    width: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
}
.advertencia p{
    margin: 0 5px;
    padding: 0;
}
.boton1{
    background: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    width: 20.5rem;
    height: 4.18rem;
    margin-top: 1rem;
}
.boton2{
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    width: 20.5rem;
    height: 4.18rem;
    margin-top: 1rem;
}
.contenedor2{
    background: #FFFFFF;
    width: 15rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    
}
.rectangulo{
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.figura{
    width: 11rem;
    height: 9rem;
    margin-bottom: 1rem;
}
.texto1{
    width: 11rem;
    height: 3.6rem;
    text-align: center;
    resize: none;
    border: none;
    background: #ffffff;
    color: #343A40;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.texto2{
    width: 11rem;
    height: 3.6rem;
    text-align: center;
    resize: none;
    border: none;
    background: #ffffff;
    color: #495057;
    font-family: 'Inter', sans-serif;
    
}

.copiar{
    width: 10rem;
    height: 2rem;
    border-radius: 32px;
    margin-top: 10px;
    /* display: none; */
}
.muestra-texto{
    position: relative;
    width: 12rem;
    height: 25rem;
    resize: none;
    margin-bottom: 5px;
    /* display: none; */
}
@media screen and (max-width: 768px){
    main{
        display: flex;
        flex-direction: column;
    }
    .contenedor1{
       width: 100%;
       background: #E5E5E5;
    }
    .content1{
        justify-content: center;
    }
    
    .boton1, .boton2{
        width: 15rem;
        height: 4.18rem;
    }
    .contenedor2{
        margin-top: 2rem;
        width: 100%;
        height: 10rem;
        flex-direction: column;
    }
    .rectangulo{
        width: 100%;
        height: 10rem;
    }
    .figura{
        display: none;
    }
    .muestra-texto{
        margin-top: 10px;
        width: 90%;
        height: 80%;
        margin-bottom: 5px;
    } 
    .copiar{
        width: 20%;
        height: 2rem;
        margin-top: 0;
    }
}
@media screen and (max-width: 500px){
    main{
        display: flex;
        flex-direction: column;
    }
    .contenedor1{
       width: 100%;
       background: #E5E5E5;
    }
    .logo__img{
        width: 20px;
        height: 20px;
    }
    .content1{
        justify-content: center;
    }
    .textin{
        width: 20rem;
        font-size: 15px;
    }
    .boton1, .boton2{
        width: 10rem;
        height: 4.18rem;
    }
    .contenedor2{
        margin-top: 2rem;
        width: 100%;
        height: 40rem;
        flex-direction: column;
    }
    .rectangulo{
        width: 100%;
        height: 40rem;
    }
    .figura{
        display: none;
    }
    .muestra-texto{
        margin-top: 10px;
        width: auto;
        height: 80%;
        margin-bottom: 5px;
    } 
    .copiar{
        width: 20%;
        height: 2rem;
        margin-top: 0;
    }
}
